In [1]:
import pandas as pd
import spatbox as stx 
from spatbox.analysis.GWR.sel import SearchGWRParameter
from spatbox.analysis.GWR.model import GWR

In [2]:
data = pd.read_csv(stx.utils.get_path('example'))
data

      longitude  latitude   t        x1        x2          y
0             0         0   0  0.771321  0.895098  10.656550
1             1         0   0  0.020752  0.633729   5.692754
2             2         0   0  0.633648  0.462768   7.634701
3             3         0   0  0.748804  0.090788   7.755446
4             4         0   0  0.498507  0.982153   9.351118
...         ...       ...  ..       ...       ...        ...
1723          7        11  11  0.289875  0.741360  33.618013
1724          8        11  11  0.921317  0.962916  43.053358
1725          9        11  11  0.222337  0.055764   8.844119
1726         10        11  11  0.633053  0.825171  27.932650
1727         11        11  11  0.057299  0.872990  16.931481

[1728 rows x 6 columns]

In [3]:
coords = data[['longitude', 'latitude']]
t = data[['t']]
X = data[['x1', 'x2']]
y = data[['y']]

In [4]:
sel = SearchGWRParameter(coords, X, y, kernel='gaussian', fixed=True)
bw = sel.search(bw_max=40, verbose=True, time_cost=True)

bw: 15.0 , score: 18778.49
bw: 10.0 , score: 18764.75
bw: 6.0 , score: 18699.21
bw: 4.0 , score: 18506.22
bw: 2.0 , score: 17786.86
bw: 2.0 , score: 17786.86
time cost: 0:00:1.097

In [5]:
gwr = GWR(coords, X, y, bw, kernel='gaussian', fixed=True).fit()
print(gwr.R2)

0.5935790327517999